/ ---Start of Schedule Tak
.row
  .col-md-7
    .panel.panel-default
      .panel-body.text-center
        -if work_today?(@today_task)
          %h1
            %em 
              = "#{@today_task.position} #{@today_task.start_time.to_s(:time)} - #{@today_task.finish_time.to_s(:time)}"
        -else
          %h1 You are Off today!
      .panel-footer
        Schedule Task 
  .col-md-5 
    .panel.panel-default
      .panel-heading
        Trade Center Information 
        %span.pull-right.glyphicon.glyphicon-refresh{role: "button", type: "submit"}
      .panel-body
        %p 
          Shift For Trade:
          %strong 30
        %p 
          Available Collegue For Today: 
          %strong 10
        %p 
          Pending Request:
          %strong 0
/ ---End 

.row
  .col-md-5.col-md-push-7
    #calendar.panel.panel-default
      .panel-heading<>
        My Calendar
      .panel-body
        .user_full_calendar

  .col-md-7.col-md-pull-5
    .panel.panel-default
      .panel-heading.text-center
        Recent Posts
      .panel-body
        = render 'post_form'
      %ul.list-group.all_posts
        = render 'posts'