.container-fluid.profile
  .row
    .col-md-3
      .panel.panel-default.logo
        .panel-body
          .profile-pic
            = image_tag avatar_url(current_user)
          %h4 Welcome, #{profile.fname} #{profile.lname}

      .panel.panel-default
        .panel-heading Menu
        .panel-body
          %ul.nav.nav-pills.nav-stacked
            %li
              = link_to "News", news_feeds_path
            %li
              %a#trade-center{:href => "#"} Trade Center
              %ul#trade.nav.nav-pills.nav-stacked
                %li
                  = link_to "Pick Up" 
            %li
              = link_to "Calendar", calendar_index_path
            %li
              %a{:href => "https://my.aircanada.ca"} Aeronet
            %li
              %a{:href => "http ://aircanada.ca"} Air Canada
    
    .col-md-6
      = yield
        