.container-fluid.profile
  .row
    .col-md-3
      .panel.panel-default.logo
        .panel-body
          .profile-pic
            = image_tag avatar_url(current_employee)
          %h4 Welcome, #{profile.fname} #{profile.lname}

      .panel.panel-default
        .panel-heading Menu
        .panel-body
          %ul.nav.nav-pills.nav-stacked
            %li
              = link_to "News", news_feeds_path
            %li
              %a#trade-center{:href => "#"} Trade Center
              %ul#trade.nav.nav-pills.nav-stacked
                %li{:style => "padding-left: 8px; padding-right: 8px;"}
                  = link_to "Pick Up", posted_shifts_path
                %li{:style => "padding-left: 8px; padding-right: 8px;"}
                  = link_to 'Availability', availability_path

                %li{:style => "padding-left: 8px; padding-right: 8px;"}
                  = link_to 'My Pending Requests', pending_requests_path

                %li{:style => "padding-left: 8px; padding-right: 8px;"}
                  = link_to 'Trade Requests', trade_requests_path
            %li
              = link_to "Calendar", calendar_path
            %li
              %a{:href => "https://my.aircanada.ca"} Aeronet
            %li
              %a{:href => "http ://aircanada.ca"} Air Canada
    
    
    = yield
        